<%= form_for @quiz do |f| %>
<div class="input">
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>

<div class="input">
  <%= f.label :description %>
  <%= f.text_area :description %>
</div>

<div class="input">
  <p>Publish?</p>
  <%= f.radio_button :published, "true" %>
  <%= f.label :published, "true" %>
  <%= f.radio_button :published, "false" %>
  <%= f.label :published, "false" %>
</div>

<div class="input">
  <%= f.submit %>
</div>

<% end %>
