<h3><%= @quiz.title %></h3>
<h4><%= @quiz.description %></h4>

<p><%= @question.body %></p>
<%= form_tag({controller: "quizzes", action: "check"}, method: "post") do %>
  <% @answers.each do |answer| %>
  <div class="">
    <%= radio_button_tag(:answer, answer.id) %>
    <%= label_tag(:answer, answer.body) %>
  </div>
  <% end %>
  <%= submit_tag "Submit Answer" %>
  <% end %>

<%= link_to "Next", quiz_path(@quiz) %>
