<!DOCTYPE html>
<html>
  <head>
    <title>QuizShow</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <header>
        <h1><%= link_to 'Quiz', root_path %></h1>
        <nav>
          <% if @current_user == nil %>
            <%= link_to 'Login', login_path %>
            <%= link_to 'Sign Up', signup_path %>
          <% else %>
            <% if @current_user.admin == true %>
              <%= link_to 'Admin', rails_admin_path %>
              <%= link_to 'Create Quiz', new_quiz_path %>
            <% end %>
              <%= link_to 'Sign Out', logout_path, method: :delete %>
          <% end %>
        </nav>
      </header>
      <%= yield %>
    </div>
  </body>
</html>
